@media all and (max-width: 768px) {
	.notice_list {
		font-size: 28px;
	}

	.notice_list li:before {
		margin-right: 11px;
		width: 5px;
		height: 5px;
	}

	.notice_list li + li {
		margin-top: 10px;
	}
}
@media all and (max-width: 1420px) {
	.section11 .menu_info {
		padding: 0 80px;
		width: 100%;
	}
}
@media all and (max-width: 1200px) {
	.section11 .menu_list {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media all and (max-width: 768px) {
	.section11 {
		padding: 15.63vw 0;
	}

	.section11 .menu_info {
		padding: 0 3.91vw;
	}

	.section11 .tab_round {
		grid-template-columns: repeat(3, 26.04vw);
		gap: 2.6vw;
		margin-bottom: 7.81vw;
	}

	.section11 .tab_round li {
		height: 7.81vw;
		font-size: 3.13vw;
		line-height: 7.81vw;
		border-radius: 3.91vw;
		border-width: 0.13vw;
	}

	.section11 .menu_list {
		gap: 3.65vw;
	}

	.section11 .menu_list .item {
		border-radius: 6.51vw;
	}

	.section11 .menu_list .item:hover {
		background-color: #1c1c1c;
	}

	.section11 .menu_list .item .name {
		padding: 2.6vw 1.3vw;
		font-size: 3.65vw;
	}

	.section11 .menu_list .item .name.small {
		font-size: 2.86vw;
	}

	.section11 .btn_more_cont {
		margin-top: 7.81vw;
		width: 27.34vw;
		height: 8.33vw;
		font-size: 3.39vw;
		border-radius: 4.17vw;
	}
}
@media all and (max-width: 1800px) {
	.section12 .thumb_con {
		display: none;
	}

	.section12 .thumb_slide {
		position: initial;
		display: block;
		margin-top: 44px;
		width: 270px;
		height: 210px;
	}

	.section12 .thumb_slide li + li {
		margin-left: 20px;
	}
}
@media all and (max-width: 768px) {
	.section12 {
		padding: 15.63vw 0;
	}

	.section12 .img_con {
		margin: 9.11vw auto 0;
		width: 86.46vw;
	}

	.section12 .circle-list li {
		width: 21.35vw;
		height: 21.35vw;
		font-size: 3.13vw;
	}

	.section12 .circle-list li:nth-child(1) {
		left: 0;
		top: 25.52vw;
		width: 23.05vw;
		height: 23.05vw;
		font-size: 3.91vw;
	}

	.section12 .circle-list li:nth-child(2) {
		left: 13.54vw;
		bottom: 5.73vw;
	}

	.section12 .circle-list li:nth-child(3) {
		right: -1.95vw;
		top: 7.55vw;
		width: 25.26vw;
		height: 25.26vw;
		font-size: 3.91vw;
	}

	.section12 .circle-list li:nth-child(4) {
		right: 10.42vw;
		bottom: 18.75vw;
	}

	.section12 .thumb_slide {
		margin-top: 5.73vw;
		width: 35.16vw;
		height: 27.34vw;
	}

	.section12 .thumb_slide li + li {
		margin-left: 2.6vw;
	}
}
@media all and (max-width: 1600px) {
	.section13 .info_con .ranking_list li {
		width: 240px;
		height: 240px;
	}
}
@media all and (max-width: 1420px) {
	.section13 .info_con .ranking_list {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		padding: 0 140px;
	}
}
@media all and (max-width: 1280px) {
	.section13 .info_con .delivery_logo {
		width: 100%;
	}
}
@media all and (max-width: 1100px) {
	.section13 .info_con .delivery_logo img:nth-child(1) {
		left: -60px;
	}

	.section13 .info_con .delivery_logo img:nth-child(2) {
		right: 90px;
	}

	.section13 .info_con .ranking_list {
		padding: 0 90px;
	}
}
@media all and (max-width: 980px) {
	.section13 .info_con .delivery_logo {
		top: 50px;
	}

	.section13 .info_con .delivery_logo img:nth-child(1) {
		left: 0;
	}

	.section13 .info_con .delivery_logo img:nth-child(2) {
		bottom: 40%;
		right: -3%;
	}

	.section13 .info_con .delivery_logo img:nth-child(3) {
		top: auto;
		bottom: 8%;
		left: 77%;
		-webkit-transform: rotate(35deg);
		    -ms-transform: rotate(35deg);
		        transform: rotate(35deg);
	}

	.section13 .info_con .ranking_list {
		padding: 0 70px;
	}

	.section13 .info_con .ranking_list li {
		width: 194px;
		height: 194px;
		font-size: 20px;
	}

	.section13 .info_con .ranking_list li + li {
		margin-left: 20px;
	}

	.section13 .info_con .ranking_list li span {
		font-size: 57px;
	}

	.section13 .info_con .img_slide {
		position: initial;
		margin-top: 50px;
		width: 350px;
	}

	.section13 .info_con .img_slide .swiper-slide + .swiper-slide {
		margin-left: 14px;
	}
}
@media all and (max-width: 768px) {
	.section13 {
		padding: 15.63vw 0;
	}

	.section13 .info_con {
		margin-top: 9.11vw;
	}

	.section13 .info_con .delivery_logo {
		top: 6.51vw;
		height: 54.43vw;
	}

	.section13 .info_con .delivery_logo img:nth-child(1) {
		width: 27.73vw;
		left: -5.21vw;
	}

	.section13 .info_con .delivery_logo img:nth-child(2) {
		width: 19.01vw;
	}

	.section13 .info_con .delivery_logo img:nth-child(3) {
		width: 16.93vw;
	}

	.section13 .info_con .ranking_list {
		padding: 0 9.11vw;
	}

	.section13 .info_con .ranking_list li {
		width: 25.26vw;
		height: 25.26vw;
		font-size: 2.6vw;
	}

	.section13 .info_con .ranking_list li + li {
		margin-left: 2.6vw;
	}

	.section13 .info_con .ranking_list li span {
		font-size: 7.42vw;
	}

	.section13 .info_con .phone_con .phone_slide {
		width: 58.07vw;
		height: 110.94vw;
		border-radius: 6.51vw 6.51vw 0 0;
		border-width: 1.3vw;
	}

	.section13 .info_con .phone_con .img_con {
		bottom: 1.3vw;
		width: 75.78vw;
	}

	.section13 .info_con .img_slide {
		position: initial;
		margin-top: 6.51vw;
		width: 45.57vw;
	}

	.section13 .info_con .img_slide .swiper-slide + .swiper-slide {
		margin-left: 1.82vw;
	}
}
@media all and (max-width: 1280px) {
	.section14 .inner {
		padding: 0 50px;
		width: 100%;
	}

	.section14 .txt_slide {
		left: 0;
		bottom: -30px;
		width: 1920px;
		height: auto;
		-webkit-transform: rotate(0);
		    -ms-transform: rotate(0);
		        transform: rotate(0);
	}

	.section14 .txt_slide.right {
		display: none;
	}

	.section14 .step_slide .txt_box {
		-webkit-box-ordinal-group: 2;
		    -ms-flex-order: 1;
		        order: 1;
		margin: 50px auto 0;
		padding-top: 0;
	}

	.section14 .step_slide .txt_box .step {
		margin-left: auto;
		margin-right: auto;
	}

	.section14 .step_slide .txt_box .title {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	.section14 .step_slide .notice_list li {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	.section14 .step_slide .img_box {
		width: 100%;
		-webkit-box-ordinal-group: 1;
		    -ms-flex-order: 0;
		        order: 0;
	}

	.section14 .step_slide .swiper-slide {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}

	.section14 .step_slide .swiper-button-prev {
		display: none;
	}

	.section14 .step_slide .swiper-button-next {
		display: none;
	}

	.section14 .step_slide .swiper-pagination {
		margin-top: 80px;
	}
}
@media all and (max-width: 768px) {
	.section14 {
		padding: 15.63vw 0;
	}

	.section14 .inner {
		padding: 0 6.51vw;
		width: 100%;
	}

	.section14 .txt_slide {
		left: 0;
		bottom: -3.91vw;
		width: 250vw;
		height: auto;
		-webkit-transform: rotate(0);
		    -ms-transform: rotate(0);
		        transform: rotate(0);
	}

	.section14 .step_slide_box {
		margin-top: 9.11vw;
		border-radius: 0 6.51vw 0 6.51vw;
	}

	.section14 .step_slide_box::after {
		padding: 1.95vw;
		border-width: 0.65vw;
		border-radius: 0 6.51vw 0 6.51vw;
	}

	.section14 .step_slide {
		padding: 5.86vw;
	}

	.section14 .step_slide .txt_box {
		margin-top: 6.51vw;
	}

	.section14 .step_slide .txt_box .step {
		width: 26.04vw;
		height: 7.81vw;
		font-size: 3.39vw;
		line-height: 7.81vw;
		border-radius: 3.91vw;
	}

	.section14 .step_slide .txt_box .title {
		margin: 5.08vw 0 4.69vw;
		font-size: 6.77vw;
	}

	.section14 .step_slide .img_box {
		width: 75.52vw;
		border-width: 0.65vw;
		border-radius: 0 6.51vw 0 6.51vw;
	}

	.section14 .step_slide .swiper-pagination {
		margin-top: 10.42vw;
	}

	.section14 .step_slide .swiper-pagination::before {
		top: 1.17vw;
		width: calc(100% - 6.77vw);
		height: 0.13vw;
		border-top-width: 0.13vw;
	}

	.section14 .step_slide .swiper-pagination .step.swiper-pagination-bullet {
		opacity: 1;
		font-size: 2.6vw;
	}

	.section14 .step_slide .swiper-pagination .step.swiper-pagination-bullet::before {
		margin: 0 auto 1.82vw;
		width: 2.6vw;
		height: 2.6vw;
	}

	.section14 .step_slide .swiper-pagination .step.swiper-pagination-bullet-active::after {
		top: 0.59vw;
		width: 1.3vw;
		height: 1.3vw;
	}
}
@media all and (max-width: 1800px) {
	.section15 .coin_box img:nth-child(1) {
		left: 44px;
		top: 52px;
	}

	.section15 .coin_box img:nth-child(2) {
		left: 240px;
		top: 214px;
	}

	.section15 .coin_box img:nth-child(3) {
		display: none;
	}

	.section15 .coin_box img:nth-child(4) {
		right: 200px;
	}

	.section15 .coin_box img:nth-child(5) {
		display: none;
	}
}
@media all and (max-width: 1400px) {
	.section15 .inner {
		padding: 0 60px;
	}

	.section15 .coin_box img:nth-child(1) {
		left: 30px;
		top: 40px;
	}

	.section15 .coin_box img:nth-child(2) {
		left: 100px;
		top: 214px;
	}

	.section15 .coin_box img:nth-child(4) {
		right: 150px;
	}

	.section15 .banner {
		width: 100%;
	}
}
@media all and (max-width: 1100px) {
	.section15 .inner {
		padding: 0 30px;
	}

	.section15 .coin_box img {
		display: none;
	}

	.section15 .info_slide .swiper-wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 30px;
	}

	.section15 .info_slide .swiper-slide {
		width: 100%;
		height: auto;
		-ms-flex-item-align: center;
		    align-self: center;
	}

	.section15 .info_slide .swiper-slide .txt {
		margin: 30px 0 60px;
	}

	.section15 .banner {
		padding: 88px 50px 97px 50px;
		width: 100%;
		background-image: url("../img/mo_section_15_thumb.png");
	}

	.section15 .banner .txt_box p {
		text-align: center;
	}

	.section15 .banner .txt_box p::after {
		width: 100%;
		background: #d2d2d2;
	}

	.section15 .banner .txt_box p.large {
		font-size: 70px;
	}

	.section15 .banner .txt_box p.large br {
		display: block;
	}

	.section15 .banner .stamp {
		position: relative;
		top: 0;
		left: 50%;
		-webkit-transform: translate(-50%, 0);
		    -ms-transform: translate(-50%, 0);
		        transform: translate(-50%, 0);
		margin-top: 56px;
		width: 410px;
		height: 240px;
		border-radius: 0;
	}

	.section15 .banner .stamp::after {
		width: 92%;
		height: 87%;
		border-radius: 0;
	}
}
@media all and (max-width: 768px) {
	.section15 {
		padding: 15.63vw 0 24.74vw;
	}

	.section15 .inner {
		padding: 0 3.91vw;
	}

	.section15 .info_slide {
		margin: 9.11vw 0 6.51vw;
	}

	.section15 .info_slide .swiper-wrapper {
		gap: 3.91vw;
	}

	.section15 .info_slide .swiper-slide {
		border-width: 0.65vw;
		border-radius: 0 6.51vw 0 6.51vw;
	}

	.section15 .info_slide .swiper-slide .txt {
		margin: 3.91vw 0 7.81vw;
	}

	.section15 .info_slide .swiper-slide .num {
		width: 13.02vw;
		height: 6.51vw;
		font-size: 3.39vw;
	}

	.section15 .info_slide .swiper-slide .txt {
		margin: 3.91vw 0 7.81vw;
		font-size: 5.21vw;
	}

	.section15 .info_slide .swiper-slide .txt em {
		margin-top: 1.3vw;
		padding: 0.78vw 1.56vw 0;
	}

	.section15 .info_slide .swiper-slide .txt span {
		margin-top: 1.95vw;
		font-size: 2.34vw;
	}

	.section15 .banner {
		padding: 11.46vw 6.51vw 12.63vw 6.51vw;
		width: 100%;
		border-radius: 6.51vw;
	}

	.section15 .banner .txt_box p {
		font-size: 6.77vw;
	}

	.section15 .banner .txt_box p::after {
		margin: 4.69vw 0 5.21vw;
		width: 100%;
		height: 0.26vw;
		background: #d2d2d2;
	}

	.section15 .banner .txt_box p.large {
		font-size: 9.11vw;
	}

	.section15 .banner .txt_box p.large br {
		display: block;
	}

	.section15 .banner .stamp {
		position: relative;
		top: 0;
		left: 50%;
		-webkit-transform: translate(-50%, 0);
		    -ms-transform: translate(-50%, 0);
		        transform: translate(-50%, 0);
		margin-top: 7.29vw;
		width: 53.39vw;
		height: 31.25vw;
		font-size: 5.08vw;
		border-radius: 0;
	}

	.section15 .banner .stamp::after {
		width: 92%;
		height: 87%;
		border-radius: 0;
		border-width: 0.26vw;
	}

	.section15 .banner .stamp strong {
		margin: 1.3vw 0 -2.08vw;
		font-size: 13.02vw;
	}
}
@media all and (max-width: 1280px) {
	.section16 .process_slide .swiper-wrapper {
		padding: 0 80px;
		width: 100%;
		grid-template-columns: repeat(2, 1fr);
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
	}
}
@media all and (max-width: 980px) {
	.section16 {
		overflow: hidden;
	}

	.section16 .process_slide {
		margin: 0 auto;
		width: 468px;
	}

	.section16 .process_slide .swiper-wrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		padding: 0;
		gap: 0;
	}

	.section16 .process_slide .swiper-slide {
		opacity: 0.3;
	}

	.section16 .process_slide .swiper-slide-active {
		opacity: 1;
	}
}
@media all and (max-width: 1280px) {
	.section17 .table_box {
		padding: 0 40px;
		width: 100%;
	}
}
@media all and (max-width: 980px) {
	.section17 .table_box .table_con {
		padding: 0;
	}

	.section17 .table_box .table_con li {
		padding: 30px 40px;
	}

	.section17 .table_box .table_con li + li {
		margin-top: 0;
		border-top: 1px solid #32281f;
	}

	.section17 .table_box .table_con .tit_box {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}

	.section17 .table_box .table_con .tit_box .tit {
		margin-bottom: 16px;
		width: 100%;
	}

	.section17 .table_box .table_con .tit_box .desc {
		text-align: left;
	}

	.section17 .table_box .table_con .price {
		padding-right: 120px;
		width: auto;
	}

	.section17 .table_box .total_price {
		padding-left: 40px;
		padding-right: 40px;
	}
}
@media all and (max-width: 1280px) {
	.section18 img {
		padding: 0 80px;
		width: 100%;
	}
}
@media all and (max-width: 980px) {
	.section18 img {
		padding: 0 30px;
	}
}
@media all and (max-width: 1280px) {
	.section19 img {
		padding: 0 80px;
		width: 100%;
	}
}
@media all and (max-width: 980px) {
	.section19 img {
		padding: 0 30px;
	}
}
@media all and (max-width: 768px) {
	.section19 {
		display: none;
	}
}
/*# sourceMappingURL=maps/style2.css.map */
